body {
  margin: 0;
  font-family: "Nunito Sans", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Crimson Pro", serif !important;
}
.masked-word {
  font-family: "Sono", monospace !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card,
.list-group-item {
  border: none !important;
}
.timeline-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.nav-link.active {
  font-weight: 700 !important;
}
.trongdong {
  background: url("/public/images/trongdong_100.webp") no-repeat top left /
    cover;
  animation: xoayanh 12s infinite linear;
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
}
.trongdong:hover {
  animation: xoayanh 3s infinite linear;
}
@keyframes xoayanh {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.site-title {
  color: #df382c;
  font-family: "Merriweather Sans", sans-serif !important;
  font-weight: bolder !important;
  text-transform: uppercase;
}
@media all and (max-width: 768px) {
  .site-title {
    font-size: calc(1rem + 3.5vw) !important;
  }
}
@media all and (max-width: 420px) {
  .site-title {
    float: right;
  }
}
@media all and (max-width: 400px) {
  .hero {
    display: none;
  }
}
.hero {
  background-color: #ffe9bc;
  background-image: url(/public/images/header-bg.webp);
  background-repeat: repeat;
  background-position: center;
}
